<div class="canvas-wrapper">
  <div id="wallpaperCanvas" class="canvas">
    <app-device *ngFor="let device of devices" [device]="device"></app-device>
    <app-wallpaper *ngFor="let wallpaper of wallpapers" [wallpaper]="wallpaper"></app-wallpaper>
  </div>
</div>  

<button mat-raised-button (click)="OnAddDeviceBtnClicked()" color="primary">Add Screen</button>
<button mat-raised-button (click)="wallpaperFileInput.click()" color="primary">Add Wallpaper
    <input #wallpaperFileInput  style="display:none;"  type='file' (change)="addWallpaper($event)">
</button>
<button mat-raised-button (click)="crop()" color="primary">Crop</button>

<div>
  <mat-form-field class="device-form">
    <input type="text" placeholder='Select a screen or type e.g. 1920x1080 23"' aria-label="Number" matInput [formControl]="deviceFormControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="OnDeiveSelected($event.option.value)">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <p *ngIf="deviceInputInvalid" id="invalidScreenText">Invalid screen format</p>

</div>

<div id="deviceList" >
  <h5>Devices:</h5>
  <ul>
    <li *ngFor="let device of devices; let i = index">
      {{ device.nativeDimension.widthPx }}x{{ device.nativeDimension.heightPx }}, {{ device.sizeInch }}&quot;
      <span (click)="deleteDevice(i)" class='delBtn' href='#'>delete</span>
    </li>
  </ul>
</div>

<canvas hidden id="croppedImageCanvas"></canvas>