.canvas {
    width: 1200px;
    height: 600px;
    max-width: 100%;
    margin: auto;
}

.canvas-wrapper {
    width: 1200px;
    height: 600px;
    max-width: 100%;
    border: dotted #ccc 2px;
    margin: auto;
    margin-top: 10px;
}

.device-form {
    min-width: 150px;
    max-width: 400px;
    width: 100%;
  }
  
.device-input-full-width {
    width: 100%;
}

app-device {
    position: absolute;
    top: 12px;
}

app-wallpaper {
    position: absolute;
    top: 12px;
}

#invalidScreenText{
    margin-top: -20px;
    font-size: 11px;
    color: orangered;
}

.dark-overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
}

mat-spinner {
    position: relative;
    margin: auto;
    top: 45%;
}

.column {
    float: left;
    width: 33.3%;
}

.row {
    padding: 20px
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.step-header{
    color: darkgray
}

#addWallpaperBtn {
    left: 25%;
    margin-top: 70px;
}

#cropBtn {
    min-width: 150px;
    left: 25%;
    margin-top: 70px;
}

#addScreenBtn {
    left: 25%
}

.red-link {
    cursor: pointer;
    color: red;
}