.canvas {
    width: 1200px;
    height: 600px;
    max-width: 100%;
    margin: auto;
}

.canvas-wrapper {
    width: 1200px;
    height: 600px;
    max-width: 100%;
    border: dotted #ccc 2px;
    margin: auto;
    margin-top: 10px;
}

.device-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
.device-input-full-width {
    width: 100%;
}