.canvas {
    width: 1200px;
    height: 600px;
    max-width: 100%;
    margin: auto;
}

.canvas-wrapper {
    width: 1200px;
    height: 600px;
    max-width: 100%;
    border: dotted #ccc 2px;
    margin: auto;
    margin-top: 10px;
}

.device-form {
    min-width: 150px;
    max-width: 400px;
    width: 100%;
  }
  
.device-input-full-width {
    width: 100%;
}

app-device {
    position: absolute;
    top: 12px;
}

app-wallpaper {
    position: absolute;
    top: 12px;
}

#invalidScreenText{
    margin-top: -20px;
    font-size: 11px;
    color: orangered;
}